version: 2.1
jobs:
  build:
    docker:
      - image: 'hub.docker.prod.walmart.com/cimg/android:2021.12.2'
    steps:
      - checkout
      - run:
          name: Download Dependencies
          command: ./android/gradlew clean